<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3px">
  <div class="level-retangle" [ngStyle]="{'background-color' : (permissionLevel > 0)? '#DAA520' : '#DAA52038' }"></div>
  <div class="level-retangle" [ngStyle]="{'background-color' : (permissionLevel > 1)? '#BF911D' : '#BF911D38' }"></div>
  <div class="level-retangle" [ngStyle]="{'background-color' : (permissionLevel > 2)? '#997417' : '#99741738' }"></div>
  <div class="level-retangle" [ngStyle]="{'background-color' : (permissionLevel > 3)? '#59440D' : '#59440D38' }"></div>
</div>
